html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 300px;
}

section {
  //background-color: green;
  padding: 80px 0;
}

@media (max-width: 767px) {
  section {
    //background-color: green;
    padding: 40px 0;
  }
}
