.calendar {
  background-color: $gray-100;

  .card {
    margin-bottom: 30px;
    text-align: center;
    // height: 260px;
  }

  .calendar-date {
    font-size: 2em;
    font-weight: 700;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .calendar-tribute {
    font-size: 1.4em;
    line-height: 1.1em;
    height: 60px;
    text-transform: uppercase;
    // margin-bottom: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .calendar-description {
    color: $secondary;
    margin-bottom: 24px;
    text-transform: uppercase;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
