.carousel {
  .carousel-indicators {
    li {
      background-color: white;
    }
  }
  .carousel-control-prev {
    .carousel-control-prev-icon {
      //color: $gray-200;
    }
  }
  .carousel-control-next {
    .carousel-control-next-icon {
      //color: white;
    }
  }
  .carousel-inner {
    .carousel-item {
      height: 210px;
      .carousel-caption {
        color: white;
        h2 {
          font-size: 1.8em;
          font-weight: 500;
          margin-bottom: 24px;
        }
        p {
          margin-bottom: 16px;
          font-size: 1.2em;
        }
        .btn {
          margin-bottom: 24px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .carousel {
    .carousel-inner {
      .carousel-item {
        height: 240px;
        .carousel-caption {
          h3 {
            font-size: 1.4em;
          }
        }
      }
    }
  }
}
