.novedades {
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  .carousel-indicators {
    li {
      background-color: white;
    }
  }
  .carousel-inner {
    .carousel-item {
      height: 210px;
      .carousel-caption {
        color: white;
        h2 {
          font-size: 1.8em;
          font-weight: 500;
          margin: 24px 0;
          text-shadow: 0 0 8px $primary;
        }
        p {
          margin-bottom: 16px;
          font-size: 1.2em;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .novedades {
    .carousel-inner {
      .carousel-item {
        height: 240px;
        .carousel-caption {
          h2 {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}
@media (min-width: 768) and (max-width: 991px) {
  .novedades {
    .carousel-inner {
      .carousel-item {
        height: 240px;
        .carousel-caption {
          h2 {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}
