.cta {
  background-color: $primary;
  color: white;
  text-align: center;
  p {
    margin-bottom: 4px;
    font-size: 1.1em;
    font-weight: 300;
    // text-transform: uppercase;
  }
  h3 {
    margin-bottom: 24px;
    color: $secondary;
  }
  .btn {
    text-transform: uppercase;
  }
}
