.headline{
  background-color: $gray-200;
  margin-bottom: 30px;
  
  .container{
    height: 160px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3{
      color: $primary;
    }
    .icon{
      img{
        height: 100px;
        opacity: 0.4;
      }
    }
  }
}

@media (max-width: 767px) {
  .headline{
    margin-bottom: 20px;    
    .container{
      height: 80px;  
      h3{
        font-size: 1.6em;
      }
      .icon{
        display: none;
      }
    }
  }  
}