.headline {
  background-color: lighten($secondary, 20%);
  z-index: 99;
  //margin-bottom: 50px;
  position: sticky;
  top: 108px;
  width: 100%;

  .container {
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      color: $primary;
      font-size: 1.4em;
    }
    .icon {
      img {
        height: 100px;
        opacity: 0.4;
      }
    }
  }
}

@media (max-width: 767px) {
  .headline {
    top: 98px;
    //margin-bottom: 20px;
    .container {
      height: 60px;
      h3 {
        font-size: 1.2em;
      }
      .icon {
        display: none;
      }
    }
  }
}
