.hero {
  height: 360px;
  margin-bottom: 60px;
  background-image: url("../../statics/foto-rio-cuarto-hero.png");
  background-size: cover;
  background-position: center -40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .hero {
    background-color: $gray-200;
    height: 160px;
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
