.legislacion {
  .nav {
    .nav-link {
      background-color: white;
      border: 1px solid $primary;
      margin-bottom: 8px;
      padding: 10px 16px;

      &.active {
        background-color: $primary;
        .icon {
          color: $primary;
        }
      }

      display: flex;
      align-items: center;
      justify-content: space-between;

      .icon {
        background-color: $gray-200;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .tab-content {
    h6 {
      font-weight: 700;
      padding-bottom: 8px;
      margin-bottom: 8px;
      color: $primary;
      border-bottom: 2px solid $primary;
    }
    ul {
      padding: 0;
      list-style: none;
      li {
        color: $gray-800;
        padding: 12px;
        border-bottom: 1px solid $gray-400;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: 767px) {
  .legislacion {
    .nav {
      margin-bottom: 30px;
    }
    .tab-content {
    }
  }
}
