.navbar {
  padding: 15px;
  //height: 120px;
  margin-bottom: 0;

  .navbar-brand {
    // background-color: orange;
    img {
      height: 68px;
    }
  }
  .navbar-nav {
    .nav-item {
      // background-color: orange;
      padding-left: 4px;
      padding-right: 4px;
      .nav-link {
        letter-spacing: -0.02em;
      }
    }
  }
}

@media (max-width: 767px) {
  .navbar {
    padding: 15px;
    // height: 100px;
    .navbar-brand {
      img {
        height: 60px;
      }
    }
  }
}
