.navbar{
  padding: 20px;
  margin-bottom: 0;
  
  .navbar-brand{
    // background-color: orange;
    img{
      height: 68px;
    }
  }
}

@media (max-width: 767px) {
  .navbar{
    padding: 16px 20px;
    .navbar-brand{
      img{
        height: 60px;
      }
    }
  }
}