.novedad {
  //background-color: red;
  text-align: left;
  .date {
    font-size: 1.2em;
    margin-bottom: 4px;
  }
  h1 {
    font-size: 2em;
    margin-bottom: 24px;
  }
  .description {
    font-size: 1.1em;

    a {
      color: $secondary;
    }
  }
}
